<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body class="max-width mx-auto px3 ltr">
  <div class="content index py4">

  {{ partial "page_nav.html" . }}

  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <h1 class="posttitle" itemprop="name headline">
        {{ .Title }}
      </h1>
      <div class="meta">
        {{ if (or (isset .Site "author") (isset .Site "title"))}}
        <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">
            {{ if isset .Site "author" }}
              {{ .Site.Author }}
            {{ else if isset .Site "title" }}
              {{ .Site.Title }}
            {{ end }}
          </span>
        </span>
        {{ end }}
        <div class="postdate">
          {{ $dataFormat := .Site.Params.dateFormat | default "2006-01-02" }}
          <time datetime="{{ .Date }}" itemprop="datePublished">{{ .Date.Format $dataFormat }}</time>
          {{ if (and .Site.Params.show_updated (ne .Lastmod .Date)) }}
            (Updated: <time datetime="{{ .Lastmod }}" itemprop="dateModified">{{ .Lastmod.Format $dataFormat }}</time>)
          {{ end }}
        </div>
        {{ $showReadTime := .Site.Params.showReadTime | default false }}
        {{if $showReadTime}}
        <div class="article-read-time">
          <i class="far fa-clock"></i>
          {{ $readTime := math.Round (div (countwords .Content) 220.0) }}
          {{ $readTime }} minute read
        </div>
        {{ end }}
        {{ if gt .Params.categories 0 }}
        <div class="article-category">
            <i class="fas fa-archive"></i>
            {{ range $index, $value := .Params.categories }}
            {{ if gt $index 0 }} {{ print ", " }} {{ end }}
            <a class="category-link" href="{{ "/categories/" | relLangURL }}{{ $value | urlize }}">{{ $value }}</a>
            {{ end }}
        </div>
        {{ end }}
        {{ if gt .Params.tags 0 }}
        <div class="article-tag">
            <i class="fas fa-tag"></i>
            {{ range $index, $value := .Params.tags }}
            {{ if gt $index 0 }} {{ print ", " }} {{ end }}
            <a class="tag-link" href="{{ "/tags/" | relLangURL }}{{ $value | urlize }}" rel="tag">{{ $value }}</a>
            {{ end }}
        </div>
        {{ end }}
      </div>
    </header>

  {{ with .Resources.ByType "image" }}
    <div class="article-gallery">
      {{ range $index, $value := . }}
      <a class="gallery-item" href="{{ .RelPermalink }}" rel="gallery_{{ $index }}">
          <img src="{{ .RelPermalink }}" itemprop="image" />
      </a>
      {{ end }}
    </div>
  {{ end }}
    {{ if .Site.Params.tocInline }}
    <div id="toc">
      {{ .TableOfContents }}
    </div>
    {{ end }}
    <div class="content" itemprop="articleBody">
      {{ .Content}}
    </div>
  </article>

  <!--buymeacoffee support-->
  <hr>
  <h2 style="color:#2BBC8A; text-align: center">Did you find this article helpful?</h2><br>
  <style>.bmc-button img{height: 34px !important;width: 35px !important;margin-bottom: 1px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;}.bmc-button{padding: 7px 10px 7px 10px !important;line-height: 35px !important;height:51px !important;min-width:217px !important;text-decoration: none !important;display:inline-flex !important;color:#FFFFFF !important;background-color:#FF813F !important;border-radius: 5px !important;border: 1px solid transparent !important;padding: 7px 10px 7px 10px !important;font-size: 22px !important;letter-spacing: 0.6px !important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;margin: 0 auto !important;font-family:'Cookie', cursive !important;-webkit-box-sizing: border-box !important;box-sizing: border-box !important;-o-transition: 0.3s all linear !important;-webkit-transition: 0.3s all linear !important;-moz-transition: 0.3s all linear !important;-ms-transition: 0.3s all linear !important;transition: 0.3s all linear !important;}.bmc-button:hover, .bmc-button:active, .bmc-button:focus {-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;text-decoration: none !important;box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;opacity: 0.85 !important;color:#FFFFFF !important;}</style>

  <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
  <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/dXjDHmt" style="align:left">
    <img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a coffee!" align="left">
    <span style="margin-left:15px;font-size:28px !important;">Buy me a coffee!</span></a>
  <hr>
            <!--end of buymeacoffee support-->

  {{ partial "comments.html" . }}

  {{ partial "page_nav_mobile.html" . }}

  {{ partial "footer.html" . }}

  </div>
</body>

<link rel="stylesheet" href={{ "/lib/font-awesome/css/all.min.css" | relURL }}>
<script src={{ "/lib/jquery/jquery.min.js" | relURL }}></script>
<script src={{ "/js/main.js" | relURL }}></script>
{{ if not (isset site.Params "disablecopy") }}
<script src={{ "js/code-copy.js"  | relURL }}></script>
{{ end }}
{{ $mathjax := false }}
{{ if isset .Params "mathjax" }}
  {{ $mathjax = .Params.mathjax }}
{{ else if isset .Site.Params "mathjax" }}
  {{ $mathjax = .Site.Params.mathjax }}
{{ end }}
{{ if $mathjax }}
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    },
    svg: {
      fontCache: 'global'
    }
  };
</script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
{{ end }}
</html>
